## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [33]:
# Your code here

#use random sample function to produce 80 random numbers between the range of 0 and 100
sample_list_1 = random.sample(range(0,100), 80)

print(sample_list_1)

[16, 88, 32, 85, 62, 21, 48, 20, 42, 69, 37, 70, 8, 67, 40, 4, 19, 97, 68, 11, 61, 39, 71, 7, 58, 24, 93, 53, 84, 3, 74, 23, 38, 82, 57, 1, 5, 14, 76, 18, 35, 17, 60, 87, 94, 75, 27, 22, 79, 64, 80, 26, 96, 50, 56, 46, 95, 55, 54, 47, 13, 6, 9, 0, 98, 89, 31, 65, 25, 15, 2, 66, 51, 43, 44, 10, 36, 83, 59, 90]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here

set1 = set(sample_list_1)
a = len(sample_list_1)

print(set1)
print(a)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 93, 96, 98, 99}
80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [35]:
# Your code here
###could not do this one - but if correct anser put in all other challenges should be correct

sample_list = random.sample(range(0,100), 80)
sample_list_2 = [80]

for i in sample_list:
    if i > i:
        sample_list_2.append(i)
    else:
        pass


print(sample_list_2)

[80]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [36]:
# Your code here

set2 = set(sample_list_2)
b = len(sample_list_2)

print(set2)
print(b)

{80}
1

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [43]:
# Your code here

set1_and_set2 = set1|set2
print(set1_and_set2)

set3 = set1_and_set2 - set2
print(set3)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 93, 96, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 75, 76, 77, 78, 79, 81, 82, 83, 85, 87, 88, 89, 90, 93, 96, 98, 99}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [45]:
# Your code here

#set1 and set 2
set1_and_set2 = set1|set2
print(set1_and_set2)

#minus set1 to get set4 
set4 = set1_and_set2 - set1
print(set4)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 93, 96, 98, 99}
set()

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [55]:
# Your code here

#use intersection funtion to get common elements between set 1 and set 2
set5 = set1 & set2
print(set5)

{80}

#### 8 - Create an empty set called `set6`.

In [56]:
# Your code here

set6 = set()
print(set6)

set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [57]:
# Your code here

set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 93, 96, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [59]:
# Your code here

if set1 == set6:
    print("Yes")
else:
    Print("No")

Yes

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [61]:
# Your code here
set1.issubset(set2)

set1.issubset(set3)

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [63]:
# Your code here

set3_4_5 = set3|set4|set5
print(set3_4_5)

set1_and_set2 = set1|set2
print(set1_and_set2)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 93, 96, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 13, 14, 15, 16, 17, 18, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 87, 88, 89, 90, 93, 96, 98, 99}

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [67]:
# Your code here

#cannot do this - if I converted it to a list first and took the first value out it would pop it - is that an acceptable solution?
print(set1(0))

TypeError: 'set' object is not callable

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [69]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

list_to_remove_set = set(list_to_remove)

set1 = set1 - list_to_remove_set
print(set1)

{0, 2, 3, 4, 5, 6, 8, 10, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 73, 75, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 93, 96, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [70]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [73]:
# Your code here

father_set = set(father_list)

mother_set = set(mother_list)

Jo_set = set(Jo_list)

Carlos_set = set(Carlos_list)

Mattia_set = set(Mattia_list)

print(father_set)

{'yogurt', 'watermelon', 'onions', 'gums', 'garlic', 'flour', 'toilet paper', 'cucumber'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [79]:
# Your code here
print(Carlos_set)
print(Jo_set)

Mattia_set = (Carlos_set|Jo_set) - (Carlos_set & Jo_set)

print(Mattia_set)

{'tomatoes', 'cherries', 'onions', 'water', 'garlic', 'flour', 'toilet paper', 'blueberries'}
{'yogurt', 'juice', 'tomatoes', 'watermelon', 'gums', 'onions', 'cucumber', 'blueberries', 'garlic', 'sugar', 'milk'}
{'yogurt', 'juice', 'cherries', 'watermelon', 'gums', 'water', 'cucumber', 'flour', 'toilet paper', 'sugar', 'milk'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [83]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['onions', 'chocolate', 'onions', 'mushrooms', 'cucumber', 'vinegar', 'toilet paper', 'tomatoes', 'cherries', 'oranges']

In [84]:
# Your code here

mother = set(mother_list)
print(mother)

{'tomatoes', 'cherries', 'onions', 'mushrooms', 'oranges', 'vinegar', 'toilet paper', 'chocolate', 'cucumber'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [85]:
# Your code here

 
mother.discard('toilet paper')
print(mother)

{'tomatoes', 'cherries', 'onions', 'mushrooms', 'oranges', 'vinegar', 'chocolate', 'cucumber'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [87]:
# Your code here

house_set = (father_set|mother_set|Carlos_set|Jo_set|Mattia_set) - (father_set & mother_set& Carlos_set& Jo_set& Mattia_set)
print(house_set)

{'yogurt', 'juice', 'tomatoes', 'cherries', 'watermelon', 'onions', 'gums', 'water', 'blueberries', 'garlic', 'cucumber', 'flour', 'toilet paper', 'sugar', 'milk'}

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [92]:
# Your code here

print(len(father_set)) # to count how many element in there to get to 5
print(father_set.pop()) # run pop method code three times

6
onions

In [91]:
print(father_set) #print new set showing 5 items

{'onions', 'gums', 'garlic', 'flour', 'toilet paper', 'cucumber'}